@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: black;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.big {
  grid-row: span 2;
  grid-column: span 2;
  box-shadow: #0006 0 30px 90px;
}
.image-card.small {
  grid-column: span 1;
  grid-row: span 1;
}
.image-card img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/* Slider container */
.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
}

/* Slide style */
.slide {
  flex: 0 0 100%;
  transition: transform 1s ease, opacity 0.5s ease; /* Add opacity transition */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* Active slide */
.slide.active {
  opacity: 1;
  transform: scale(1.5); /* Adjust scale as needed */
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro-text-animation {
  text-align: center;
  text-transform: uppercase;
  color: #f1faee;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #a8dadc;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  .intro-text-animation {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}
