@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: black;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.big {
  grid-row: span 2;
  grid-column: span 2;
  box-shadow: #0006 0 30px 90px;
}
.image-card.small {
  grid-column: span 1;
  grid-row: span 1;
}
.image-card img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/* Slider container */
.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
}

/* Slide style */
.slide {
  flex: 0 0 100%;
  transition: transform 1s ease, opacity 0.5s ease; /* Add opacity transition */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* Active slide */
.slide.active {
  opacity: 1;
  transform: scale(1.1); /* Adjust scale as needed */
}
